
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.1/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.1/quill.snow.css" rel="stylesheet">

<div style="padding-left:10px">
	<h2>CreatePost</h2>

    <h3 style="color:red" id="err"></h3>

    <div class="panel panel-primary" style="width: 750px">
        <div class="panel-heading" style="font-size:16px">Topic:</div>
        <div class="panel-body">
            <input name="title" type="text" class="form-control input-sm" />
        </div>
    </div>

    <h3>Details</h3>

    <container id="editor" style="width:750px"></container>
    <br />

    <button onclick="addPost()" class="btn btn-secondary" id="submitBtn">Submit</button>
</div>

<script type="text/javascript" language="javascript1.2">
    var error = "";

    var container = document.getElementById('editor');
    var editor = new Quill('container', {
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['code-block']
            ]
        },
        theme: 'snow'  // or 'bubble',
    });

    function addPost() {
        var top = $("input[name=title]").val();
        var bod = document.querySelector(".ql-editor").innerHTML;

        var dataPost = {
            'topic': top,
            'body': bod
        }

        //Make sure to JSON.stringify your data. Ajax will send an error message if the formatting is wrong.
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("CreatePost", "Blog")',
            data: JSON.stringify(dataPost),
            success: function (data) {
                console.log("Success!");
                
                if (!data.success) {
                    error = data.error;
                    $("#err").text(error);
                }
                else {
                    location.href = "/Blog/Home";
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    };
</script>